// .header {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   //justify-content: center;
//   align-items: center;
//   width: 100%;
//   background-image: linear-gradient(60deg, $green-1, $green);
//   color: white;
// }

// body {
//   position: relative;
// }

// #loading-container {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     height: 100vh;
//     width: 100%;
//     // background-image: linear-gradient(60deg, $green-1, $green);
// }

// #loading-container.invisible {
//   display: none;
// }

// #bloc {
//   height: 100%;
// }

#game-container {
  opacity: 0;
  transform: scale(0.01);
  transition: all 0.7s ease-out;
}

#game-container.visible {
  opacity: 1;
  transform: scale(1);
}

.header h1, .header h2 {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 0.7s ease-out;
}

.header h1.visible {
  opacity: 1;
  transform: translateX(0px);
}

.header h2.visible {
  opacity: 0.6;
  transform: translateX(0px);
}




.loader-container {
  visibility: visible;
  z-index: 100;
  position: absolute;
  top: 300px;
  left: 50%;
  // margin-left: 1.25em;
}

@media screen and (max-width: 800px)
{
  .loader-container {
    top: 200px;
  }
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $green;
  font-size: 12px;
  margin-left: -1.25em;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
