<!-- Header -->
<div class="header">
  <h2>DV Burger Quiz</h2>
  <h1>And who am I?</h1>
  <div id="score-container">
    <p id="score-title"> Score </p>
    <p id="score"> 0 </p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" preserveAspectRatio="none">
    <polygon fill="#F4F4F4" points="0,20 20,0 20,20"/>
  </svg>
</div>

<!-- Trombinoscope -->
<div class="trombi-container">
  <div class="trombi">

    <div class="trombi-block" id="trombi-block-1">
      <div class="photo-container">
        <%= image_tag("francois.jpeg", id: "colleague-photo", class: "photo", data: { lastname: "De La Taste"
        } ) %>
        <p id="job"> Product Manager </p>
        <p id="compteur"> <span id="compteur-number">1</span> <span id="compteur-total"> / 21</span> </p>
      </div>
      <div class="sentence-container">
        <h3>La phrase</h3>
        <p id="colleague-sentence">"Je te cache pas qu'il y a encore un peu de travail"</p>
        <h4 id="compteur"> <span id="number"> 2 </span> <span id="total">/ 18</span></h4>
      </div>
    </div>

    <div class="trombi-block" id="buttons">
      <div class="button">
        <p class="answer"> A</p>
        <p class=name> Sophie-Laetitia</p>
        <p class=last-name> Roux </p>
      </div>
      <div class="button">
        <p class="answer"> B</p>
        <p class=name> Morgane</p>
        <p class=last-name> Veaute </p>
      </div>
      <div class="button">
        <p class="answer"> C</p>
        <p class=name> François</p>
        <p class=last-name>De La Taste</p>
      </div>
      <div class="button">
        <p class="answer"> D</p>
        <p class=name> François</p>
        <p class=last-name>De La Taste</p>
      </div>
    </div>
  </div>
</div>
