<!-- Header -->
<div class="header">
  <h2>DV Trombinoscope</h2>
  <h1>Reconnaissez les tous !</h1>
</div>


<!-- Trombinoscope -->
<div class="trombi-container">
  <div class="trombi">

    <div class="trombi-block">
      <div class="photo-container">
        <%= image_tag("francois.jpeg", class: "photo") %>
        <p> Product Manager </p>
      </div>
      <div class="sentence-container">
        <h3>La phrase</h3>
        <p>"Je te cache pas qu'il y a encore un peu de travail"</p>
        <h4 id="compteur"> <span id="number"> 2 </span> <span id="total">/ 21</span></h4>
      </div>
    </div>

    <div class="trombi-block">
      <div class="button">
        <p> Sophie-Laetitia</p>
        <p> Roux </p>
      </div>
      <div class="button">
        <p> Morgane</p>
        <p> Veaute </p>
      </div>
      <div class="button">
        <p> Marie</p>
        <p> Cointe </p>
      </div>
    </div>
  </div>
</div>
