<!-- Header -->
<div class="header">
  <h2>DV Trombinoscope</h2>
  <h1>Reconnaissez les tous !</h1>
</div>


<!-- Trombinoscope -->
<div class="trombi-container">
  <div class="trombi">

    <div class="trombi-block">
      <div class="photo-container">
        <%= image_tag("francois.jpeg", class: "photo") %>
      </div>
      <div class="sentence-container">
        <p>"Je te cache pas qu'il y a encore un peu de travail"</p>
      </div>
    </div>

    <div class="trombi-block">

    </div>
  </div>
</div>
